sales-calling/sales_calling_agent_n8n.json
{
  "name": "calling _agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "your sheet",
          "cachedResultUrl": "YOUR_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_NAME",
          "mode": "list",
          "cachedResultName": "your sheet tab",
          "cachedResultUrl": "YOUR_SHEET_TAB_URL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        208,
        0
      ],
      "name": "Get row(s) in sheet",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"from_number\": \"FROM_NUMBER_PLACEHOLDER\",\n  \"to_number\": \"{{ $json['MOBILE NUMBER'] }}\",\n  \"override_agent_id\": \"AGENT_ID_PLACEHOLDER\",\n  \"retell_llm_dynamic_variables\": {\n    \"first_name\": \"{{ $json.NAME }}\",\n    \"requirement\": \"{{ $json.ISSUE }}\",\n    \"email\": \"{{ $json['EMAIL ADD'] }}\",\n    \"phone\": \"{{ $json['MOBILE NUMBER'] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}