hr-cv-screening/HR_AI_AGENT_CV_SCREENING.json
{
  "name": "HR AI AGENT FOR CV SCREENING",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        -140
      ],
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "apply",
              "description": "contains job application from a candidate seeking a job "
            },
            {
              "category": "does not apply ",
              "description": "candidate is not looking for a job "
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "EMAIL_PLACEHOLDER",
      "typeVersion": 1.1,
      "position": [
        60,
        -120
      ],
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "EMAIL_PLACEHOLDER",
      "typeVersion": 1,
      "position": [
        300,
        220
      ],
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        340,
        -20
      ],
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        600,
        -180
      ],
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "EMAIL_PLACEHOLDER",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful AI assistant. your job is to evaluate if a candidate is fit for the role "
        }
      },
      "type": "EMAIL_PLACEHOLDER",
      "typeVersion": 2,
      "position": [
        820,
        -180
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "EMAIL_PLACEHOLDER",
      "typeVersion": 1.2,
      "position": [
        840,
        40
      ],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "EMAIL_PLACEHOLDER"
      },
      "type": "EMAIL_PLACEHOLDER",
      "typeVersion": 1.3,
      "position": [
        980,
        40
      ],
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "value": "YOUR_SHEET_ID",
          "cachedResultUrl": "YOUR_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "evaluation ",
          "cachedResultUrl": "YOUR_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.output.candidate.email }}",
            "First Name": "={{ $json.output.candidate.first_name }}",
            "Last Name": "={{ $json.output.candidate.last_name }}",
            "Email content": "={{ $('Gmail Trigger').item.json.text }}",
            "Quick Read": "={{ $json.output.fit_score.justification }}",
            "Scoring": "={{ $json.output.fit_score.overall }}/10"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Email content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Scoring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Quick Read",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1180,
        -180
      ],
      "name": "Append or update row in sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}